//Google fonts
@import 
url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//Font variables
$global-font: 'Karla', sans-serif;

//Global Styles
* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div h1 {
    font-size: 60px;
}

div h2 { 
    color: #5452F6;
    font-weight: 700;
    text-transform: up;
}

//Buttons
.primary-button { 
    padding: 15px 52px;
    background-color :#5A38FD;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.secondary-button{
    padding: 15px 52px;
    background-color: rgba(90, 56, 253, 0.2);
    color: #5A38FD;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

//Landing Page
.navbar{
    min-height: 6vh;
    padding: 10px 52px!important;
    font-size: 16px;

    .nav-link { 
        color: #000;
    }
}

.intro { 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 94vh;
    justify-content: center;
}

.intro img {
    height: 50vh;
}

#features { 
    margin: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.feature-point {
    margin: 2em;
}

//about us
#about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    justify-content: center;

}

.landing-footer { 
    text-align: center;
    // height: 5vh;
    background-color: #5A38FD;
    color: #fff;
    padding: 3em;
    font-weight: 700;
}


//login page
.form-basic {
    display: flex;
    width: 50%;
}

.form-basic div:nth-child(1) { 
    flex: 1;
}

.separator { 
    padding: 0 1em;
}

.photo-upload { 
    flex: 1;
}

.form-file { 
    height: 100%;
    align-items: center;
    justify-content: center;
}


// login page
.login-forms { 
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // height: 94vh;
    margin: 3em 0;
}

.topic-form { 
    width: 50%;
}

.form-nav { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-alert { 
    background-color: rgba(90, 56, 253, 0.2);
    color: #5A38FD;
    text-align: center;
}

.room-list{
  background-color: rgba(90, 56, 253, 0.2);
  color: #5A38FD;
  text-align: center;
  width: 67px;
  height: 67px;
  border-radius: 30px;
  line-height: 67px;
}

.join-table{
  background-color: #5452F6;
  color: white;
  text-align: center;
  width: 294px;
  height: 47px;
  border-radius: 15px;
  line-height: 47px;
}

.roomlist-container-user{
  display:flex;
  justify-content: space-around;
  padding: 20px;
}

.roomlist-roomId{
  background-color: #5A38FD;
  color: white;
  text-align: center;
  width: 98px;
  height: 19px;
  border-radius: 10px;
  line-height: 19px;
}

.roomlist-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 50px;
}

.roomlist-background{
  background-color: #121A2D;
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.close {
  // position: absolute;
  // left: 49px;
  // top: 32px;
  // width: 32px;
  // height: 32px;
  opacity: 0.3;
  margin: 32px;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  // left: 15px;
  content: '';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}